<!DOCTYPE html>
<html>

<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/listProducts.css">
    <body>
        <%- include ('../partials/header') %>
            <main class="main">
                
                <div class="container">
                    <% casas.forEach (casa => {%>
                        <%- include ('../partials/productView', {casa}) %>    


                        <% } )%>
                </div>

            </main>
            <%- include ('../partials/footer') %>
    </body>
</html>