* {
    box-sizing: border-box;
    font-family:Roboto;
}

section{
    margin-top: 90px;
}

/*================== header =======================*/

.main-header{
    border-bottom: 2px solid #3295ce;
    position:fixed;
    background-color: white;
    top: 0;
    margin: 0;
    padding: 10px 0;
    width:100vw;
    z-index: 1;
}
    .top-bar{
        display: flex;
        align-items:center;
        max-height: 40px;
    }
               
        #main-hamburger{
            display: none;
        }
        .top-bar label{
               color: #3295ce;
               background-color: 8cc9ec;     
               margin: 2px 3px; 
               display: block; 
               width: 30px;
               height: 20px;
               padding: 20px;
               font-size: 30px;
            }
            .top-bar label i{
                position:absolute;
                top:10px;
                left: 10px;
            }

            .top-bar label:hover{
                background-color: #b0d4e9;
                cursor: pointer;
            }

            #main-hamburger:checked ~ .menu-hamburger{
                display: block;
            }
            .menu-hamburger{
                display:none;
                position:absolute;
                top: 50px;
                width: 80%;
                
            }
               
                    .menu-hamburger li{
                    list-style: none;
                    background-color: #b0d4e9;
                    padding: 10px;
                    }
                        .menu-hamburger a{
                            color:rgb(126, 124, 124);
                            text-decoration: none;
                        }
        .logo-completo{
            display: flex;
            align-items: center;
            height: 70%;
            }
            .logo{
                width: 15%;
                height: 80%;           
            }
            .nombre-logo{
                color: #3295ce;
                font-family: 'Lobster', cursive;
                font-weight: lighter;
                font-size: 1.5rem;
                margin-left: 10px;
            }
        .icono-carrito{
            color: hsl(202, 61%, 50%);
            font-size: 13px;
            margin-right: 30px;
        }
            .icono-carrito i{
            font-size: 1.5em;
            }
        .accesos{
            display: none;
            
        }
            .login{
                margin-right: 10px;
            }
            p.saludos {
                color: #3295ce;
                display: block;
                margin-left: 65px;
            }

.form .div .text-danger{
    color:red;
}

.main{
    margin-top: 60;
    padding-top: 20px;
    background-color: #b0d4e9;
}

/*================== Register =======================*/
.form{
    background-color: #b0d4e9;
}
.register{
    padding: 20px 15px;
    margin-top: 50px;
    text-align: center;
}
.control-formulario{
    margin-bottom: 15px;
}
.label{
    font-style: normal;
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
    text-align: left;
    font-weight: bold;
}
.control{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    border: none;
    height: 30%;
    margin-bottom: 0px;
    box-sizing: border-box;
}
.perfil{
    margin-bottom: 15px;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 14px;
    margin: 0 25px;
    margin-bottom: 15px;
}
.intereses{
    display: flex;
    flex: 1 1 auto;
    flex-flow: column ;
    justify-self: start;
}
    .check{
        display: flex;
        /*align-items: center;*/
    }

    .text-danger{
        color: red;
        font-size: 13px;
        margin-bottom: 15px;
    }
    .is-invalid{
        border: red solid 1px;
    }

/*================== profile =======================*/         
.containerProf{
    margin-top: 20px;
    display: flex;
    
}
    .avatar{
        margin-left: 0;
        width: 40%;
    }

    .info{
        margin-left: 30px;
    }

        .info p, label{
            font-family:Roboto;
            font-size: 15px;
            color: hsl(202, 61%, 50%);
        }

        .info ul{
            font-family:Roboto;
            font-size: 15px;
            color: hsl(202, 61%, 50%); 
            padding: 0; 
        }
        
/*================== Detalle producto =======================*/
.fotos{
    width: 40%;
}
    .listProductsImage{
        display:block;
        width: 100%;
        margin-bottom: 10px;
    }
.info_prod{
    margin-left: 30px ;
    font-size: 20px;
}

.info_prod label{
   
    font-size: 20px;
} 

.DetalleDeProductos{
    margin-top: 0%;
    color: hsl(202, 61%, 50%); 
    margin-left: 20px;
}
    .detalle_crud{
        display: flex;
    }

.containerProf_product{
    
}

/*================== Footer =======================*/
.redes {
    display: flex;
    padding-left: 30vw;
    padding-right: 30vw;
    margin-top: 3%;
}
    .icono-red{
        flex: 1 1 auto;
    }
        .icono-red i{
            color: #3295ce;
            margin: 0px 3px 0px 3px;
            
        }
    
    .menu-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: #3295ce solid 1px;
        margin-top: 3%;
    }
        .menu-footer i{
            color:#3295ce;

        }
        .lista-footer {
            align-self: start;
        }
            .lista-footer a{
                display: block;
                text-decoration: none;
                color:rgb(150, 147, 147)
            }
            .lista-footer h4{
                margin-bottom: 5px;
            }
        
    .legales{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
        .legales i{
            display: flex;
            align-items: center;
        }
            .legales p{
                font-family:Roboto;
                font-size: 12px;
            }



.image img {
    display: block;
    /* width: 100%; */
    max-height: 260px;
    max-width: 260px;
    height: auto;
}

.editImagenes{
    display: flex;
    flex-direction: row;
}
    .imagenAEditar{
        display: flex;
        flex-direction: column;
        margin-right: 4px;
    }
    .listProductsImage{
        max-height: 260px;
        max-width: 260px;
        height: auto;
        position: relative;
    }
    .editImagenes input{
        width:260px;
        height:40px;
        margin-top: 2px;
        /*position:absolute;
        left:0;
        top:0;*/
        cursor:pointer;
     } 
    

/*================== Edit Product =======================*/

   
    .titulos{
        
        font-size: 50px;
        color: #3295ce;
        font-family: 'Lobster', cursive;
        margin-left: 20px;
        margin-top: 30px;
    }
        .form_edit{
            margin-left: 20px;
            padding-bottom: 20px;
        }
      
    
            .campo{
                display: block;
                margin-bottom: 30px;
            }
    
                .campo label{
                    font-weight: bold;
                    font-size: 20px;
                    color: #3295ce;
                }
    
                .campo input, select, textarea{
                    margin-left: 30px;
                    font-size: 20px;
                    border-radius: 10px;
                    border: 2px solid #3295ce;
                }
                .habit{
                    width: 50px;
                }
    
                .precio{
                    width: 100px;
                }
                .text-danger{
                    color: red;
                }
                .is-invalid{
                    border: red solid 1px;
                }
    
.destino{
    display: flex;
    font-size: 30px;
}
    .texto{
    width: 200px;
}
    .destino form{
        margin-left: 50px;
    }

/*================== Botones =======================*/
.button{
    background-color:#1259c3;
            border: none;
            font-size: 15px;
            color: #ffffff;
            padding: 10px;
            border-radius: 4px;
            height: 35px;
            margin: 2px;
    }
    
    .buttons{
        display: flex;
        margin-left: 60px;
    }
        .boton-formulario{
            background-color:#1259c3;
            border: none;
            width: 80%;
            font-size: 15px;
            color: #ffffff;
            padding: 10px;
            border-radius: 4px;
            height: 35px;
            margin: 2px;
        }
    
        .profile_button{
            background-color:#1259c3;
            border: none;
            font-size: 15px;
            color: #ffffff;
            padding: 10px;
            border-radius: 4px;
            height: 35px;
            margin-left: 20px;
            margin-bottom: 20px;
        }
            .profile_button a{
                text-decoration: none;
                color: #ffffff;
            }
    
            .detall_button{
                background-color:#1259c3;
                        border: none;
                        font-size: 15px;
                        color: #ffffff;
                        padding: 10px;
                        border-radius: 4px;
                        height: 35px;
                        margin: 2px;
            }
            .detalle_botones{
                display: flex;
            }
            .botones {
                display: flex;
            }

@media (min-width:860px){
    .accesos{
        display: block;
                   
    }
        .accesos a{
            color: #3295ce;
            text-decoration: none;
            font-weight: bold;
            margin-right: 20px;
        }
      
        
    .form{
        justify-content: center;
        display: flex;
        margin-left: 20px;
        padding-bottom: 20px;
    }
        .register{
            width: 500px;
        }
        .menu-hamburger{
            width:40%;
        }
        .logo-completo{
            margin-left: 20px;
        }

.icono-red i{
    font-size: 30px;
}

 
.lista-footer{
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.crt-prof{
    margin-right: 50px;
    display: flex;
}
    .crt-prof img{
       margin-right: 20px;
    }

}


@media(min-width: 1000px){
    .nombre-logo{
        font-size: 40px;
    }

    .accesos{
        font-size: 20px;
        flex: 1 1 5%;
    } 
    .logo-completo{
        flex: 1 1 50%;
    }
        .logo{
            max-height: 60px;
            max-width: 100px;
        }
}


/*================== Index =======================*/
.main-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sub-main-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1500px;
    height: 300px;
    background-image: url('/img/mdq5.jpg');
    background-position: center;
}
.sub-main-body p {
    color: grey;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    max-height: 50px;
}
.formBuscar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1500px;
    height: 300px;
    background-image: url('/img/mdq5.jpg');
    background-position: center;
}
.formBuscar .inp1, .inp2, .inp3 {
    color: grey;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    max-height: 50px;
    border: none;
    padding: 6px;
}

.inp2 {
    display: none; 
    width: 30%;
    max-width: 220px;
    min-width: 160px;
    
}

.inp3 {
    display: none; 
    width: 90px;
    
}
#buscar {
    display: none;
    width: 30%;
    height: 30px;
    max-width: 90px;
    min-width: 160px;
    text-align: right;
}

.donde {
    display: flex;
    color: grey;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    max-width: 220px;
    min-width: 160px;
    max-height: 50px;
}

.donde i {margin-right: 10px;}

.titulo-ofertas {
    width: 100vw;
    text-align: left;
    font-weight: bolder;
    padding: 10px;
}
.ofertas-destacadas article{
    display: flex;
    flex-wrap: wrap;
    max-width: 769px;
    width: 100vw;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 6px white;
}
.oferta-destacada-1 {
    background-image: url('/img/ofertas/img1.jpg');
}
.oferta-destacada-1 :hover, .oferta-destacada-2 :hover, .oferta-destacada-3 :hover, .oferta-destacada-4 :hover{
    background-color: red;
}
.oferta-destacada-2 {
    background-image: url('/img/ofertas/img2.jpg');
}
.oferta-destacada-3 {
    background-image: url('/img/ofertas/img3.jpg');
}
.oferta-destacada-4 {
    background-image: url('/img/ofertas/img4.jpg');
}


.titulo-destinos {
    width: 100vw;
    text-align: left;
    font-weight: bolder;
    padding: 10px;
}
.ofertas-destacadas p {
    color: white;
    background-color: rgb(11, 130, 204);
    margin-top: 20px;
    max-width: 140px;
    height: 50px;
    text-align: center;
    padding: 8px;
    font-weight: bolder;
    font-size: 30px;
}
.ofertas-destacadas a {
    color: white;
    background-color: rgb(11, 130, 204);
    margin-top: 20px;
    max-width: 140px;
    height: 50px;
    text-align: center;
    padding: 8px;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
}


.destinos-destacados p {
    color: white;
    background-color: rgb(11, 130, 204);
    margin-top: 20px;
    max-width: 120px;
    height: 35px;
    text-align: center;
    padding: 8px;
    font-weight: bolder;
}

.destinos-destacados article{
    display: flex;
    flex-wrap: wrap;
    max-width: 769px;
    width: 100vw;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 6px white;
}

.destindo-destacado-1{ 
    background-image: url('/img/destinos/mdq8.jpg');
}
.destindo-destacado-2{
    background-image: url('/img/destinos/carilo4.jpg');
}
.destindo-destacado-3{
    background-image: url('/img/destinos/gesell3.jpg'); 
}
.destindo-destacado-4{
    background-image: url('/img/destinos/grutas1.jpg'); 
}


.suscripcion {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
.suscripcion input {
    border: lightgray solid 2px;
    border-radius: 5px;
    color: lightgray;
    font-size: 15px;
    padding: 3px;
    max-width: 200px;
}
.suscripcion button {
    border: rgb(11, 130, 204) solid 2px;
    background-color: rgb(11, 130, 204);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 3px;
    max-width: 200px;
}

@media (min-width:769px){
    .accesos{
        display: block;  
    }
    .formBuscar .inp2, .inp3 {
        margin-right: 5px;
        margin-left: 5px;
        display: flex;
    }
    .sub-main-body i {
        margin-right: 5px;
    }
    #buscar {
        display: flex;
        color: white;
        background-color: rgb(11, 130, 204);
        border: none;
        border-radius: 5px;
        padding: 7px;
        text-align: center;
    }
    
    .destinos-destacados {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   .destinos-destacados article{
    max-width: 48vw;
   }
   .ofertas-destacadas article{
    max-width: 48vw;
   }
   .ofertas-destacadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    
}
            
@media(min-width: 1280px){
    
    .logo{
        width: 140px;
        height: 100px;
    }
    
    .destinos-destacados {
        display: flex;
        flex-wrap: wrap;
    }
}
