<!DOCTYPE html>
<html>

<%- include ('partials/head') %>

    <body>

        <%- include ('partials/header') %>

            <main class="main">


                <h1>Destinos</h1>
                <div class="info">
                    <ul>

                        <% for (let i=0; i < destinos.length; i++){ %>

                            <li>
                                <%= destinos[i].destination %>
                            </li>

                            <%} %>

                    </ul>
                </div>
                <button class="profile_button">
                    <a href="/destinations/create"> Nuevo destino</a>
                </button>
            </main>
            <%- include ('partials/footer') %>


    </body>

</html>