<header class="main-header">
    <div class="top-bar">
        <input type="checkbox" id="main-hamburger">
        <label for="main-hamburger" class="hamburger"><i class="fas fa-bars"></i>
        </label>
        <nav class="menu-hamburger">
            <ul>

                <li><a href="/">Inicio</a></li>
                
                <% if (locals.isLogged){ %>
                   
                    <li><a href="/profile">Perfil</a></li>
                    <li><a href="/Logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/login">Logueate</a></li>
                        <li><a href="/register">Registrate</a></li>
                        <% } %>
                <% if (locals.admLogged){ %>
                    <li><a href="/products">Administrar</a></li>
                <% } %>
            </ul>
        </nav>

        <div class="logo-completo">
            <a href="/">   <img src="/img/logo-casas-alquiler.jpg" alt="" class="logo">  </a>
            
            
            

            <h1 class="nombre-logo">Serena</h1>
            
<% if (locals.isLogged){ %>
<p class="saludos">   Hola <%=locals.userLogged.first_name%>!</p>
<% } %>

        </div>
        <div class="crt-prof">
           

            <% if (locals.isLogged){ %>
                 
                <img src="/img/users/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%">
               
                <nav class="accesos">
                 
                    <a href="/profile">Perfil</a>
                    <a href="/Logout">Logout</a>
                    
                </nav>
                

                <% } else { %>
                    <nav class="accesos">
                        <a href="/login" class="login">Logueate</a>
                        <a href="/register" class="register">Registrate</a>
                        <% } %>

                    </nav>
        </div>
    </div>
</header>